[submodule "system/vim.symlink/bundles/vimux"]
	path = system/vim.symlink/bundles/vimux
	url = git@github.com:benmills/vimux.git
[submodule "system/vim.symlink/bundles/nerdcommenter"]
	path = system/vim.symlink/bundles/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "system/vim.symlink/bundles/nerdtree"]
	path = system/vim.symlink/bundles/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
